@media only screen and (max-width: 1050px) {
	.HeroText {
		font-size: 200%;
		font-weight: 100;
		letter-spacing: 0.4rem;
		word-spacing: 1.3rem;
		color: #51fdfda6;
		/* animation: moveInLeft 2s ease-out; */
	}

	@media only screen and (max-width: 480px) {
		.dailyQuote,
		.quoteAuthor {
			font-size: 1rem;
		}

		.naviBar {
			font-size: 0.665rem;
		}
	}
}
