.Landing {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: radial-gradient(rgba(0, 0, 0, 0.712), rgb(0, 0, 0)), url(../images/photo6.jpg);
	background-size: cover;
	background-position: center;
}

.HeroText {
	display: flex;
	justify-content: center;
	margin-top: 35vh;
	font-size: 7em;
	font-weight: 100;
	letter-spacing: 2.6rem;
	word-spacing: 1.0rem;
	color: #51fdfdb2;
	text-transform: uppercase;
}

.FirstName {
animation: leftWordIn 3s ease-in;
}

.LastName {
	animation: rightWordIn 3s ease-in;
}
















@keyframes leftWordIn {
	0% {
		opacity: 0;

		transform: translateX(50%);
	}

	80% {
		opacity: .7;
		transform: translateX(-5%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes rightWordIn {
	0% {
		opacity: 0;

		transform: translateX(-50%);
	}

	80% {
		opacity: .7;
		transform: translateX(5%);
	}

	100% {
		transform: translateX(0);
	}
}
