.navBar {
	position: absolute;
	top: 3%;
}

.navigation__item {
	font-size: 130%;
	font-weight: 300;
	display: inline;
	text-transform: uppercase;
	padding: 2rem;
}
.navigation__item:hover {
	color: black;
}
