.naviBar {
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	font-size: 130%;
	font-weight: 300;
	padding-top: 3vh;
}

.NavigationList {
	display: flex;
	justify-content: space-around;
	
}

.NavigationItem{
	display: flex;
}