.quoteBoxContainer {
	display: flex;
	justify-content: center;
}

.quoteBox {
	margin-top: 22vh;
	height: 7vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dailyQuote {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	font-weight: 200;
	color: #51fdfd7e;
	animation: fadeIn 3s ease-in;
}

.quoteAuthor {
	display: flex;
	justify-content: flex-end;
	font-size: 1.2rem;
	font-weight: 200;
	color: #51fdfd7e;
	animation: fadeIn 3s ease-in;
}
