.navigation {
}
.navigation__checkbox {
	display: none;
}

.navigation__button {
	color: black;
	background-color: #9dfdfd;
	height: 5rem;
	width: 5rem;
	position: fixed;
	top: 4rem;
	right: 4rem;
	border-radius: 50%;
	z-index: 2000;
}

.navigation__background {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: fixed;
	top: 4.5rem;
	right: 4.5rem;
	background-image: radial-gradient(#9dfdfd, #40c9c9);
	z-index: 1000;
	box-shadow: 0 1rem 3rem rgba(black, 0.1);
	transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);

	/* transform: scale(80); */
}

.navigation__nav {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}

.navigation__item {
	margin: 3rem;
}

.navigation__link {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 300;

	padding: 1rem 2rem;
	color: white;
	line-height: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
	background-size: 230%;
	transition: all 0.6s;
}
.navListNumber {
	display: inline-block;
	margin-right: 1.5rem;
}

.navigation__link :visited {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 300;

	padding: 1rem 2rem;
	color: white;
	line-height: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
	background-size: 230%;
	transition: all 0.4s;
}

.navigation__link :active,
:hover {
	background-position: 100%;
}

/* FUNCTIONALITY */

.navigation__checkbox:checked {
	display: none;
}

.navigation__checkbox:checked ~ .navigation__background {
	transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
	transition: opacity 1s;
	opacity: 1;
	width: 100%;
}

/* ICON  */
.navigation__icon {
	position: fixed;
	right: 4.8rem;
	top: 5.85rem;
	color: black;
}
