.footerSection {
    margin-top: 1rem;
   

    color: #6affff;
    text-align: right;
  background-color: black;
   
    padding: 2rem;
}

.footerText {
    
    margin-right: 27.5rem;
    display: inline-block;
}

.linkBox {
     font-size: 2rem;
    margin-right: 2rem;
    display: inline-block;
}

